fastapi[all]
uvicorn[standard]
sqlalchemy
psycopg2
alembic
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
websockets
pydantic-settings
google-auth
requests
ultralytics
torch
torchvision
open-clip-torch
Pillow
numpy
gradio_client
cloudinary
